* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #EFEFEF;
}



h1 {
}

#form-create {
    padding: 19px 25px;
    width: 124%;
    width: 265%;
    box-shadow: 0px 0px 0px grey;
    margin-left: -420px;
    margin-top: 130px;
    background: white;
}


    #form-create #name {
        width: 400px;
    }

    #form-create #descriptionGrap textarea {
        width: 600px;
        height: 170px;
    }

    #form-create #career {
        width: 580px;
    }



#foto {
    width: 364px;
    height: 76px;
}

    #foto input {
        padding: 3px
    }


#botones a {
    margin-left: 15px;
}
 
