@model EmpleoITSC.Models.USERS

@{
    ViewData["Title"] = "Crear Usuario";
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script data-search-pseudo-elements defer src="https://use.fontawesome.com/releases/latest/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/StyleAdm/UserStyles/Create.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300:400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Crear usuarios</title>
</head>
<body>
   
    <div class="row">
        <h1>Crear un Usuario</h1>
        <hr />

        <div class="col-md-4">

            <form id="form-create" asp-action="Create" asp-controller="User" enctype="multipart/form-data" onsubmit="return validateForm()" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="rol" class="control-label"></label>
                    <select asp-for="rol" class="form-control" id="rol" onchange="showInp()">
                        <option value="">Selecciona el tipo de usuaio</option>
                        <option value="ADM">Administrador</option>
                        <option value="EST">Estudiante</option>
                    </select>
                    <span asp-validation-for="rol" class="text-danger"></span>
                </div>

                <div class="form-group" id="userName" style="display: none">
                    <label asp-for="userName" class="control-label" id="title"></label>
                    <input asp-for="userName" class="form-control" />
                    <span asp-validation-for="userName" class="text-danger"></span>
                </div>

                <div class="form-group" id="userPass" style="display: none">
                    <label asp-for="userPass" class="control-label"></label>
                    <input asp-for="userPass" class="form-control" id="pass" />
                    <span asp-validation-for="userPass" class="text-danger"></span>
                </div>

                <div class="form-group" id="name" style="display: none">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>

                <div class="form-group" id="lastName" style="display: none">
                    <label asp-for="lastName" class="control-label"></label>
                    <input asp-for="lastName" class="form-control" />
                    <span asp-validation-for="lastName" class="text-danger"></span>
                </div>

                <div class="form-group" id="career" style="display: none">
                    <label asp-for="career" class="control-label"></label>
                    <select id="carrera" asp-for="career" class="form-control" asp-items="new SelectList(ViewBag.careers)">
                        <option value="">Selecciona una carrera</option>
                    </select>
                    <div id="error">

                    </div>
                </div>

                @*<div class="form-group" id="cv" style="display: none">
            <b>Insertar tu Curriculum</b>
            <input type="file" class="form-control-file" id="CV" name="upload" />
            <span asp-validation-for="cv" class="text-danger"></span>
        </div>*@
                <br />
                <br />

                <div class="form-group" id="submit" style="display: none">
                    <input type="submit" value="Crear" class="btn btn-outline-primary" />
                    <a id="btn-cancelar" class="btn btn-outline-danger" asp-action="Index">Cancelar</a>
                </div>

                <div id="boton" class="btn btn-light">
                    <a asp-action="Index">Volver atras</a>
                </div>

            </form>
        </div>
    </div>

    @*<div>
            <a class="btn btn-outline-danger" asp-action="Index">Cancelar</a>
        </div>*@

    <script src="~/js/user/create.js"></script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


</body>
</html>
