@model EmpleoITSC.Models.JOB

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>JOB</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descriptionJob" class="control-label"></label>
                <textarea asp-for="descriptionJob" class="form-control"></textarea>
                <span asp-validation-for="descriptionJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="requirements" class="control-label"></label>
                <textarea asp-for="requirements" class="form-control"></textarea>
                <span asp-validation-for="requirements" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="dateStart" class="control-label"></label>
                <input asp-for="dateStart" class="form-control" />
                <span asp-validation-for="dateStart" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="companyName" class="control-label"></label>
                <input asp-for="companyName" class="form-control" />
                <span asp-validation-for="companyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="companyAdress" class="control-label"></label>
                <input asp-for="companyAdress" class="form-control" />
                <span asp-validation-for="companyAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="schedule" class="control-label"></label>
                <input asp-for="schedule" class="form-control" />
                <span asp-validation-for="schedule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contractJob" class="control-label"></label>
                <select asp-for="contractJob" class="form-control" id="rol">
                    <option value="">Selecciona el tipo de contracto</option>
                    <option value="indefinido">Fijo (Indefinido)</option>
                    <option value="definido">Por Contracto (Definido)</option>
                </select>
                <span asp-validation-for="contractJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modality" class="control-label"></label>
                <select asp-for="modality" class="form-control" id="rol">
                    <option value="">Selecciona la modalidad</option>
                    <option value="presencial">Presencial</option>
                    <option value="semi">Semi-Presencial</option>
                    <option value="virtual">Virtual</option>
                </select>
                <span asp-validation-for="modality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="career" class="control-label"></label>
                <select id="carrera" asp-for="career" class="form-control" asp-items="new SelectList(ViewBag.careers)">
                    <option value="">Selecciona una carrera</option>
                </select>
                <span asp-validation-for="career" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
